<style>
.no-close .ui-dialog-titlebar-close {
   display: none;
}
.activeAlert {
  color: green;
  font-style: italic;
}
</style>
<div id="content" class="span10">

<div class="control-group">
							<select id="reportTime" class="chosen">
               <% @availableTimeLines.each do |key, value| %>
                                   <option value="<%= key %>"><%= value %></option>
               <% end %>
                          </select>

                          <select id="deviceclass" class="chosen">
                <% @availabledeviceClass.each do |elem| %>
                                    <option value="<%= elem %>"><%= elem %></option>
                <% end %>
                          </select>
                          <select id="authsource" class="chosen">
                <% @availableauthSource.each do |key, value| %>
                                    <option value="<%= key %>"><%= @availableauthSource[key] %></option>
                <% end %>
                          </select>
                          
            <button class="btn btn-primary" id="emailreport">E-mail</button>
            <button class="btn btn-primary" id="downloadreport">Download</button>

        </div>
        <div class="control-group" id="dateRange">
    			  <input   class="datepicker" id="fromDate" value="From" type="text" >
    			  <input   class="datepicker" id="toDate" value="To" type="text">
        </div>

</div>
<script type="text/javascript">

window.onload = function () {
	var rptTime = $('#reportTime').val();
	if (rptTime == "date_range") {
		$("#dateRange").show();
	} else {
		$("#dateRange").hide();
	}
}

$(document).ready(function(){
	
$("#reportTime").chosen().change(function() {
			
           if (this.value == "date_range") {
               $("#dateRange").show();
           } else {
               $("#dateRange").hide();
           }
       });


       $('#emailreport').click(function() {
            var devclass = $('#deviceclass').val();
            var auth = $('#authsource').val();
            var time = $('#reportTime').val();

	    var urlString = "/report/email?reportType=dvi";

            if (devclass != "All") {
		urlString += "&deviceclass=" + devclass;
	    }
	    if (auth != "All") {
		urlString += "&authsource=" + auth;
	    }

	    urlString += "&reportTime=" + time;
            if (time == "date_range") {
               numDays = dateDiffInDays(new Date(fromDate), new Date(toDate));

               //For now, handle date ranges less than a year
               if (numDays > 364) {
                  alert("Date ranges beyond a year are not supported.")
                  return;
               }
               urlString += "&fromDate=" + fromDate + "&toDate=" + toDate;
            }
	    alert(urlString);
            window.location.href= urlString;
       });


       $('#downloadreport').click(function() {
            var devclass = $('#deviceclass').val();
            var auth = $('#authsource').val();
            var time = $('#reportTime').val();

	    var urlString = "/report/download?reportType=dvi";

            if (devclass != "All") {
		urlString += "&deviceclass=" + devclass;
	    }
	    if (auth != "All") {
		urlString += "&authsource=" + auth;
	    }

	    urlString += "&reportTime=" + time;


            if (time == "date_range") {
               numDays = dateDiffInDays(new Date(fromDate), new Date(toDate));

               //For now, handle date ranges less than a year
               if (numDays > 364) {
                  alert("Date ranges beyond a year are not supported.")
                  return;
               }
               urlString += "&fromDate=" + fromDate + "&toDate=" + toDate;
            }
            alert(urlString)
	        window.location.href= urlString;
       });

});
</script>
