<style>
.no-close .ui-dialog-titlebar-close {
   display: none;
}
.activeAlert {
  color: green;
  font-style: italic;
}

#center {
text-align: left;
}
</style>
<div id="content" class="span10">
	<div class="box span10">
	<%= render :partial => 'layouts/title_bar_icons',
                    :locals => { :header_title =>  'Report Generation',
                                 :header_link  => "#" }
         %> 
		<div class="box-content">
			<form class="form-horizontal">
				<fieldset>
					<div class="control-group">
						<label for="deviceclass" class="control-label">Device Class</label>
						<div class="controls">
							<select data-rel="chosen" id="deviceclass">
								<% @availabledeviceClass.each do |elem| %>
								<option value="<%= elem %>"><%= elem %></option>
								<% end %>
							</select>
						</div>
					</div>
					<div class="control-group">
						<label for="authsource" class="control-label">Authorisation Source</label>
						<div class="controls">
							<select data-rel="chosen" id="authsource">
								<% @availableauthSource.each do |key, value| %>
								<option value="<%= key %>"><%= @availableauthSource[key] %></option>
								<% end %>
							</select>
						</div>
					</div>
					<div class="control-group">
						<label for="reportTime" class="control-label">Time</label>
						<div class="controls">
							<select data-rel="chosen" id="reportTime">
								<% @availableTimeLines.each do |key, value| %>
								<option value="<%= key %>"><%= value %></option>
								<% end %>
							</select>
						</div>
					</div>

					<div class="control-group" id="dateRange">
						<input   class="datepicker" id="fromDate" value="From" type="text" >
						<input   class="datepicker" id="toDate" value="To" type="text">
					</div>
					<div class="form-actions">
						<button class="btn btn-primary" id="emailreport">E-mail</button>
						<button class="btn btn-primary" id="downloadreport">Download</button>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">

window.onload = function () {
	var rptTime = $('#reportTime').val();
	if (rptTime == "date_range") {
		$("#dateRange").show();
	} else {
		$("#dateRange").hide();
	}
}

$(document).ready(function(){
	
$("#reportTime").chosen().change(function() {
			
           if (this.value == "date_range") {
               $("#dateRange").show();
           } else {
               $("#dateRange").hide();
           }
       });


       $('#emailreport').click(function() {
            var devclass = $('#deviceclass').val();
            var auth = $('#authsource').val();
            var time = $('#reportTime').val();

	    var urlString = "/report/email?reportType=dvi";

            if (devclass != "All") {
		urlString += "&deviceclass=" + devclass;
	    }
	    if (auth != "All") {
		urlString += "&authsource=" + auth;
	    }

	    urlString += "&reportTime=" + time;
            if (time == "date_range") {
               numDays = dateDiffInDays(new Date(fromDate), new Date(toDate));

               //For now, handle date ranges less than a year
               if (numDays > 364) {
                  alert("Date ranges beyond a year are not supported.")
                  return;
               }
               urlString += "&fromDate=" + fromDate + "&toDate=" + toDate;
            }
            window.location.href= urlString;
       });


       $('#downloadreport').click(function() {
            var devclass = $('#deviceclass').val();
            var auth = $('#authsource').val();
            var time = $('#reportTime').val();

	    var urlString = "/report/download?reportType=dvi";

            if (devclass != "All") {
		urlString += "&deviceclass=" + devclass;
	    }
	    if (auth != "All") {
		urlString += "&authsource=" + auth;
	    }

	    urlString += "&reportTime=" + time;


            if (time == "date_range") {
               numDays = dateDiffInDays(new Date(fromDate), new Date(toDate));

               //For now, handle date ranges less than a year
               if (numDays > 364) {
                  alert("Date ranges beyond a year are not supported.")
                  return;
               }
               urlString += "&fromDate=" + fromDate + "&toDate=" + toDate;
            }
	        window.location.href= urlString;
       });

});
</script>
