<%
    ldapobjproperty = {
               "server" => {"name" => "Server","editable" => "true" },
               "port" => {"name" => "Port","editable" => "true" },
               "base" => {"name" => "FQDN","editable" => "true" },
               "domain" => {"name" => "Domain","editable" => "true" }
	}
    pgobjproperty = {
               "interface" => {"name" => "Interface","editable" => "true" },
               "licensefile" => {"name" => "License file","editable" => "false" },
               "fingerprintdb" => {"name" => "Fingerprint file","editable" => "false" },
               "vendorfile" => {"name" => "Vendor file","editable" => "false" },
               "dbpath" => {"name" => "Database path","editable" => "false" },
               "probeInterval" => {"name" => "Probe Interval","editable" => "true" },
               "statUpdateInterval" => {"name" => "Update Interval","editable" => "true" },
               "logmask" => {"name" => "Log level","editable" => "true" },
               "policy" => {"name" => "Policy file","editable" => "false" },
               "easAuthorizationEnabled" => {"name" => "Integrate EAS","editable" => "true" }
	}
%>
<div id="content" class="span10">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a href="#red" data-toggle="tab">PGGuard</a></li>
        <li><a href="#orange" data-toggle="tab">Active directory</a></li>
        <li><a href="#homenet" data-toggle="tab">Homenet</a></li>
    </ul>
    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="red">
		<div class="box-content">
		<form id="pgconfig_form" class="form-horizontal" action="" method="POST">
			<fieldset>
				<input type="hidden" name="configtype" value="PGGUARD" />	
				<% @pgconfig.each do |key, value| %>	
					<div class="<%=key%>">
						<% if (key == "easAuthorizationEnabled" ) then
							value = (value == 0) ? "false" : "true"
						end %>
					
						<label class="control-label"><%= pgobjproperty[key]["name"] %></label>
							<div class="controls">
							<% if(pgobjproperty[key]["editable"] == "true") then %>
								<input class="input-xlarge focused focused" id="poconfig_json" name="<%=key%>" value="<%=value%>" type="text">
							<% else %>
								<span class="input-xlarge uneditable-input"><%=value%></span>
							<%end%>
							</div>
					</div>
				<% end %>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary" onclick="sendADConfigData()">Save changes</button>
					<button type="reset" class="btn">Cancel</button>
				</div>
            		</fieldset>
         	</form>
		</div>
        </div>
        <div class="tab-pane" id="orange">
	<div class="box-content">
		<% if (@ldapconfig.nil? || @ldapconfig.empty?) then %>
                     <h1> ldap.yml not found </h1>
		<% end %>
		<% if !(@ldapconfig.nil? || @ldapconfig.empty?) then %>
                <form id="ldap_form" class="form-horizontal" action="" method="POST">
                        <fieldset>
				<input type="hidden" name="configtype" value="AD" />	
                                <% @ldapconfig.each do |key, value| %>
                                        <div class="<%=key%>">
                                                <% if (key == "easAuthorizationEnabled" ) then
                                                        value = (value == 0) ? "false" : "true"
                                                end %>
                                        
                                                <label class="control-label"><%= ldapobjproperty[key]["name"] %></label>
                                                        <div class="controls">
                                                        <% if(ldapobjproperty[key]["editable"] == "true") then %>
                                                                <input class="input-xlarge focused focused" id="poconfig_json" name="<%=key%>" value="<%=value%>" type="text">
                                                        <% else %>
                                                                <span class="input-xlarge uneditable-input"><%=value%></span>
                                                        <%end%>
                                                        </div>
                                        </div>
                                <% end %>
                                <div class="form-actions">
                                        <button type="submit" class="btn btn-primary" onclick="sendPGConfigData()">Save changes</button>
                                        <button type="reset" class="btn">Cancel</button>
                                </div>
                        </fieldset>
                </form>
		<% end %>
                </div><!--/span-->
        </div>

        <div class="tab-pane" id="homenet">
	<div class="box-content">
<form name="homenet_form"  method="POST">
				<input type="hidden" name="configtype" value="HOMENET" />	
<div>
<label class="control-label"> HomeNets </label>
<textarea class="cleditor" cols="200" rows="10" name="homenetip">
<% @homenetips.each do |ip| %>
<%= ip.net %>
<%end%>
</textarea>
</div>
<div class="form-actions">
                                        <button type="submit" class="btn btn-primary" onclick="sendHomenetIps()">Save changes</button>
                                        <button type="reset" class="btn">Cancel</button>
                                </div>

</form>
</div>





    </div>
</div>

<script type="text/javascript">

function sendPGConfigData() {

	var objectsArray = new Array();

	$("#pgconfig_form input").each(function() {
 	var name = $(this).attr('name');
 	var text = $(this).text
	var obj = {
                           name: name,
                           value: value
               };

               objectsArray.push(obj);
});
        $('#pgconfig_form').submit();

}

function sendADConfigData() {

	var objectsArray = new Array();

	$("#pgconfig_form input").each(function() {
 	var name = $(this).attr('name');
 	var value = $(this).attr('value');
	var obj = {
                           name: name,
                           value: value
               };

               objectsArray.push(obj);
});
        $('#ldap_form').submit();

}

function sendHomenetIps() {

/*var objectsArray = new Array();

	$("#homenet_form textarea").each(function() {
 	var name = $(this).attr('name');
 	var value = $(this).attr('value');
	var obj = {
                           name: name,
                           value: value
               };

               objectsArray.push(obj);
});*/
        $('#homenet_form').submit();

}
 </script>
