<style>
.no-close .ui-dialog-titlebar-close {
   display: none;
}
.activeAlert {
  color: green;
  font-style: italic;
}
</style>
<div id="content" class="span10">
     <div class="box span10">
         <%= render :partial => 'layouts/title_bar_icons',
                    :locals => { :header_title =>  'Product Configuration',
                                 :header_link  => "#" }
         %>
         <div class="box-content" id="tabs-container">    
          <div id="dialog-modal" title="Restarting..." style="display:none">
             <%= image_tag("saving_config.gif", {:width => '90%'}) %>
          </div>
            
          <ul class="nav nav-tabs" data-tabs="tabs">
		         <li><a href="#peregrineConfig-tab" data-toggle="tab">Application</a></li>
		         <li><a href="#pluginConfig-tab" data-toggle="tab">Integrations</a></li>
		         <li><a href="#alertsConfig-tab" data-toggle="tab">Alerts</a></li>
		         <li><a href="#emailConfig-tab" data-toggle="tab">Email</a></li>
             <li><a href="#aclConfig-tab" data-toggle="tab">Cisco ACL</a></li>             
	        </ul>

	        <div id="TabList" class="tab-content" style="overflow:visible">
		         <div class="tab-pane active" id="peregrineConfig-tab">
		            <form class="form-horizontal">
                  <div class="control-group">
                     <label for="config[interface]" class="control-label">Network Interface to Monitor</label>
                     <div class="controls">
                        <input type="text" value="" id="interface" class="input-xlarge focused">
                     </div>
                  </div>                   
                  <div class="control-group">
                     <label for="homeNets" class="control-label">Home Network <i id='homeNetHelp' class="icon-question-sign" data-rel="popover" data-content="" title=""></i></label>
                     <% if !@homeNets.nil? && !@homeNets.empty? then 
                           firstHomeNet = @homeNets[0]
                           @homeNets.shift
                        end
                      %>
                     <div class="controls" id="homeNets">
                        <table>
                        <tr><td><div class="input-append">
                                  <input type="text" value="<%= (firstHomeNet.iprange + '/' + firstHomeNet.mask.to_s) if !firstHomeNet.nil? %>"  
                                         class="input-xlarge focused" data-trigger="change" data-regexp="^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\/(?:[0-9]|1[0-9]|2[0-9]|3[0-2])$">
                                  <button class="btn firstHomeNetworkBtn" type="button">Add</button>
                                </div></td></tr>
                        <%  if !@homeNets.nil? && !@homeNets.empty? then 
                              @homeNets.each do |homeNet| %>
                        <tr><td><div class="input-append">
                                  <input type="text" value="<%= (homeNet.iprange + '/' + homeNet.mask.to_s) %>"  
                                         class="input-xlarge focused" data-trigger="change" data-regexp="^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\/(?:[0-9]|1[0-9]|2[0-9]|3[0-2])$">
                                  <button class="btn homeNetworkBtn" type="button">Remove</button>
                                </div></td></tr>
                              <% end %>
                        <% end %>
                        </table>
                     </div>
                  </div>                   
                  <div class="control-group">
                     <label for="byodNets" class="control-label">BYOD Network <i id='byodNetHelp' class="icon-question-sign" data-rel="popover" data-content="" title=""></i></label>
                     <% if !@byodNets.nil? && !@byodNets.empty? then 
                           firstByodNet = @byodNets[0]
                           @byodNets.shift
                        end
                      %>
                     <div class="controls" id="byodNets">
                        <table>
                        <tr><td><div class="input-append">
                                  <input type="text" value="<%= (firstByodNet.iprange + '/' + firstByodNet.mask.to_s) if !firstByodNet.nil? %>"  
                                         class="input-xlarge focused" data-trigger="change" data-regexp="^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\/(?:[0-9]|1[0-9]|2[0-9]|3[0-2])$">
                                  <button class="btn firstByodNetworkBtn" type="button">Add</button>
                                </div></td></tr>
                        <%  if !@byodNets.nil? && !@byodNets.empty? then 
                              @byodNets.each do |byodNet| %>
                        <tr><td><div class="input-append">
                                  <input type="text" value="<%= (byodNet.iprange + '/' + byodNet.mask.to_s) %>"  
                                         class="input-xlarge focused" data-trigger="change" data-regexp="^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\/(?:[0-9]|1[0-9]|2[0-9]|3[0-2])$">
                                  <button class="btn byodNetworkBtn" type="button">Remove</button>
                                </div></td></tr>
                              <% end %>
                        <% end %>
                        </table>
                     </div>
                  </div>                   
                  <div class="control-group">
                     <label for="httpProxyFlag" class="control-label">HTTP Proxy</label>
                     <div class="controls form-inline">
                        <label class="checkbox inline">
                           <div class="checker" id="httpProxyFlagDiv"><span><input type="checkbox" id="httpProxyFlag" style="opacity: 0;"></span></div> 
                           Enable
                        </label>
						            <span id="httpProxy" class="navbar-form navbar-left">
                           <label for="httpProxyIP">IP: </label>
						               <input type="text" value="" id="httpProxyIP" class="input-xlarge focused inline" style="width: 150px" 
                                  data-trigger="change" data-regexp="^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$">
						               <label for="httpProxyPort">Port: </label>
						               <input type="text" value="" id="httpProxyPort" class="input-xlarge focused" style="width: 40px" data-trigger="change" data-type="number">
						            </span>
                     </div>
                  </div>
                  <div class="control-group">
                     <label for="dtiThreshold" class="control-label">DTI Threshold</label>
                     <div class="controls">
                        <input type="text" value="" id="dtiThreshold" class="input-xlarge focused" 
                               data-trigger="change" data-type="number">
                     </div>
                  </div>
                   <div class="control-group">
                     <label for="fwtype" class="control-label">FW Type</label>
                     <div class="controls">
                        <select data-rel="chosen" id="fwtype">
                           <option value="Cisco">Cisco</option>
                           <option value="IPFW">IPFW</option>
                        </select>
                     </div>
		    </div>
                  <div class="control-group">
                     <label for="loggingLevel" class="control-label">Logging Level</label>
                     <div class="controls">
                        <select data-rel="chosen" id="loggingLevel">
                           <option value="LOG_DEBUG">LOG_DEBUG</option>
                           <option value="LOG_WARNING">LOG_WARNING</option>
                           <option value="LOG_ERROR">LOG_ERROR</option>
                           <option value="LOG_FATAL">LOG_FATAL</option>
                        </select>
                     </div>
                  </div>                  
                </form>                 
             </div>

             <div class="tab-pane" id="pluginConfig-tab">
                <form class="form-horizontal">
                  <div class="control-group">
                     <label for="enableEAS" class="control-label">Microsoft ActiveSync</label>
                     <div class="controls form-inline" id="enableEAS">
                        <label class="checkbox inline">
                           <div class="checker" id="enableEASFlagDiv"><span><input type="checkbox" id="enableEASFlag" style="opacity: 0;"></span></div> 
                           Enable
                        </label>
                     </div>
                  </div>
                  <div class="control-group">
                     <label for="enableMDM" class="control-label">Mobile Device Management (MDM)</label>
                     <div class="controls form-inline" id="enableMDM">
                        <label class="checkbox inline">
                           <div class="checker" id="enableMDMFlagDiv"><span><input type="checkbox" id="enableMDMFlag" style="opacity: 0;"></span></div> 
                           Enable
                        </label>
                      </div>
                      <div class="controls" id="mdmConfig">
                        <select data-rel="chosen" id="mdmVendor">
                           <option value="none"></option>
                           <option value="maas360">MaaS360</option>
                        </select>
                        <table id="maas360" class="controls" style="display:none">
                           <tr><td><label for="rootURL">URL: </label></td>
                               <td><input type="text" value="" id="rootURL" class="input-xlarge focused"
                                          data-trigger="change" data-required="true"></td></tr>
                           <tr><td><label for="billingID">Billing ID: </label></td>
                               <td><input type="text" value="" id="billingID" class="input-xlarge focused"
                                          data-trigger="change" data-required="true"></td></tr>
                           <tr><td><label for="platformID">Platform ID: </label></td>
                               <td><input type="text" value="" id="platformID" class="input-xlarge focused"
                                          data-trigger="change" data-required="true"></td></tr>
                           <tr><td><label for="appID">Application ID: </label></td>
                               <td><input type="text" value="" id="appID" class="input-xlarge focused"
                                          data-trigger="change" data-required="true"></td></tr>
                           <tr><td><label for="appVer">Application Version: </label></td>
                               <td><input type="text" value="" id="appVer" class="input-xlarge focused"
                                          data-trigger="change" data-type="number"></td></tr>
                           <tr><td><label for="appAccessKey">Application Access Key: </label></td>
                               <td><input type="text" value="" id="appAccessKey" class="input-xlarge focused"
                                          data-trigger="change" data-type="number"></td></tr>
                           <tr><td><label for="adminUsername">User Name: </label></td>
                               <td><input type="text" value="" id="adminUsername" class="input-xlarge focused"
                                          data-trigger="change" data-type="number"></td></tr>
                           <tr><td><label for="adminPassword">Password: </label></td>
                               <td><input type="password" value="" id="adminPassword" class="input-xlarge focused"
                                          data-trigger="change" data-type="number"></td></tr>
                        </table>
                      </div>
                  </div>
                  <div class="control-group">
                     <label for="enableActiveDirectory" class="control-label">Microsoft Active Directory</label>
                     <div class="controls form-inline">
                        <label class="checkbox inline">
                           <div class="checker" id="enableADFlagDiv"><span><input type="checkbox" id="enableADFlag" style="opacity: 0;"></span></div>
                           Enable
                        </label>
                        <table id="enableAD">
                           <tr><td><label for="activeDirectoryServer">AD Server: </label></td>
                               <td><input type="text" value="" id="activeDirectoryServerIP" class="input-xlarge focused" style="width: 150px"
                                          data-trigger="change" data-regexp="^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$"></td></tr>
                           <tr><td><label for="activeDirectoryUser">User Name: </label></td>
                               <td><input type="text" value="" id="activeDirectoryUser" class="input-xlarge focused"
                                          data-trigger="change" data-required="true"></td></tr>
                           <tr><td><label for="activeDirectoryPassword">Password: </label></td>
                               <td><input type="password" value="" id="activeDirectoryPassword" class="input-xlarge focused"
                                          data-trigger="change" data-required="true"></td></tr>
                           <tr><td><label for="activeDirectorySSID">SSID: </label></td>
                               <td><input type="text" value="" id="activeDirectorySSID" class="input-xlarge focused"></td></tr>
                           <tr><td><label for="activeDirectoryPingInterval">Time Interval: </label></td>
                               <td><input type="text" value="" id="activeDirectoryPingInterval" class="input-xlarge focused"
                                          data-trigger="change" data-type="number"></td></tr>
                        </table>
                     </div>
                  </div>
                  <div class="control-group">
                     <label for="enableLDAPAuthentication" class="control-label">LDAP Authentication</label>
                     <div class="controls form-inline">
                        <label class="checkbox inline">
                           <div class="checker" id="enableLDAPAuthFlagDiv"><span><input type="checkbox" id="enableLDAPAuthFlag" style="opacity: 0;"></span></div> 
                           Enable
                        </label>
                        <table id="enableLDAPAuth">
                           <tr><td><label for="ldapServerIP">LDAP Server: </label></td>
                               <td><input type="text" value="" id="ldapServerIP" class="input-xlarge focused" style="width: 150px" 
                                          data-trigger="change" data-required="true"></td></tr>
                           <tr><td><label for="ldapServerPort">LDAP Port: </label></td>
                               <td><input type="text" value="" id="ldapServerPort" class="input-xlarge focused" style="width: 40px"
                                          data-trigger="change" data-required="true"></td></tr>
                           <tr><td><label for="ldapBaseDN">Base DN: </label></td>
                               <td><input type="text" value="" id="ldapBaseDN" class="input-xlarge focused" data-trigger="change" data-required="true"></td></tr>
                           <tr><td><label for="ldapDomain">Domain: </label></td>
                               <td><input type="text" value="" id="ldapDomain" class="input-xlarge focused" data-trigger="change" data-required="true"></td></tr>
                        </table>
                     </div>
                  </div>
                </form>               
             </div>

             <div class="tab-pane" id="alertsConfig-tab">
                <form id="alertsConfig_form"  method="POST" action="/settings/alerts">
                   <input type="hidden" name="inactiveids" id="inactiveids" value="" >
                   <input type="hidden" name="emailids" id="emailids" value="" >
                   <input type="hidden" name="restart" id="restart" value="" >
                   <div id="alertsConfigTreeDiv"> 
                      <table id="alertsConfigTree" class="Maintenance_Table">
                         <colgroup>
                            <col width="30px"></col>
                            <col width="*"></col>
                            <col width="30px"></col>
                            <col width="30px"></col>
                         </colgroup>
                         <thead>
                         <tr><th>ID</th><th>Description</th><th>Active</th><th>Email</th></tr>
                         </thead>
                         <tbody>
                            <tr><td></td><td></td><td></td><td></td></tr>
                         </tbody>
                      </table>
                   </div>

                </form>
             </div>

             <div class="tab-pane" id="emailConfig-tab">
                <form class="form-horizontal" action="/settings" method="POST">
                   <div class="control-group">
                      <span class="navbar-form navbar-left">
                         <label for="smtpServer" class="control-label">SMTP Server</label>
                         <div class="controls">
                            <input type="text" value="" id="smtpServer" class="input-xlarge focused">
                         </div>
                         <label for="smtpPort" class="control-label">SMTP Port</label>
                         <div class="controls">
                            <input type="text" value="" id="smtpPort" class="input-xlarge focused" style="width: 40px">
                         </div>
                      </span>
                   </div>

                   <div class="control-group">
                      <label for="smtp_auth_type" class="control-label">Authentication <i id='smtp_auth_type_help' class="icon-question-sign" data-rel="popover" data-content="" title=""></i></label>
                      <div class="controls">
                         <select data-rel="chosen" id="smtp_auth_type">
                            <option value="">&nbsp;</option>
                            <option value="plain">Plain</option>
                            <option value="login">Login</option>
                            <option value="cram_md5">MD5</option>
                         </select>
                      </div>
                   </div>

                   <div class="control-group">
                      <label for="openssl_verify_mode" class="control-label">SSL Certificate Validation <i id='openssl_verify_mode_help' class="icon-question-sign" data-rel="popover" data-content="" title=""></i></label>
                      <div class="controls">
                         <select data-rel="chosen" id="openssl_verify_mode">
                            <option value="">&nbsp;</option>
                            <option value="none">None</option>
                            <option value="peer">Peer</option>
                            <option value="client_once">Client Once</option>
                            <option value="fail_if_no_peer_cert">No Peer Certificate</option>
                         </select>
                      </div>
                   </div>

                   <div class="control-group">
                      <label for="smtpLogin" class="control-label">SMTP Login</label>
                      <div class="controls">
                         <input type="text" value="" id="smtpLogin" class="input-xlarge focused">
                      </div>
                   </div>  
                   <div class="control-group">
                      <label for="smtpPassword" class="control-label">SMTP Password</label>
                      <div class="controls">
                         <input type="password" value="" id="smtpPassword" class="input-xlarge focused">
                      </div>
                   </div>  
                   <div class="control-group">
                      <label for="emailTo" class="control-label">Send Mail TO:</label>
                      <div class="controls">
                         <input type="text" value="" id="emailTo" class="input-xlarge focused">
                      </div>
                   </div>  
                   <div class="control-group">
                      <label for="emailCc" class="control-label">Send Mail CC:</label>
                      <div class="controls">
                         <input type="text" value="" id="emailCc" class="input-xlarge focused">
                      </div>
                    </div>  
                </form>
             </div>

             <div class="tab-pane" id="aclConfig-tab">
                <form class="form-horizontal" action="/settings" method="POST">
                  <div class="control-group">
                     <label for="connectionMode" class="control-label">Connection Mode</label>
                     <div class="controls">
                        <select data-rel="chosen" id="connectionMode">
                           <option value="SSH">SSH</option>
                           <option value="Telnet">TELNET</option>
                        </select>
                     </div>
		   		   </div>

                   <div class="control-group">
                      <label for="switchIP" class="control-label">Switch IP Address</label>
                      <div class="controls">
                          <input type="text" value="" id="switchIP" class="input-xlarge focused" data-trigger="change" data-regexp="^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$">
                      </div>
                   </div>
                   
                   <div class="control-group">
                     <label for="aclMode" class="control-label">ACL Mode</label>
                     <div class="controls">
                        <select data-rel="chosen" id="aclMode">
                           <option value="VLAN">VLAN</option>
                           <option value="Port">PORT</option>
                        </select>
                     </div>
		   		   </div>
		   		   <div class="control-group">
		   		   <table id="aclmodeattr">
		   		   		<tr>
		   		   			
		   		   			<td>
		   		   				
		   		   		    	<label for="vlanmodemapno" class="control-label">VLAN Map Number: </label>
		   		   		    	<div class="controls">
						        <input type="text" value="" id="vlanmodemapno" class="input-xlarge focused inline" style="width: 150px" >
						        </div>
						        
						    </td>
						    <td>
						    	
						        <label for="vlanmodeno" class="control-label">VLAN Number: </label>
						        <div class="controls">
						        <input type="text" value="" id="vlanmodeno" class="input-xlarge focused inline" style="width: 150px" data-type="number">
						        </div>
						        
						    </td>
						 
						 </tr>
				    </table>
				    </div>
						
                   <div class="control-group" id="aclportid">
                         <label for="aclPort" class="control-label">BYOD Switch Port <i id='aclPortHelp' class="icon-question-sign" data-rel="popover" data-content="" title=""></i></label>
                         <div class="controls">
                            <input type="text" value="" id="aclPort" class="input-xlarge focused">
                         </div>
                   </div>
                   <div class="control-group">
                      <label for="aclNumber" class="control-label">Cisco ACL Number</label>
                      <div class="controls">
                         <input type="text" value="" id="aclNumber" class="input-xlarge focused">
                      </div>
                   </div>  
                   <div class="control-group">
                      <label for="aclLogin" class="control-label">Login</label>
                      <div class="controls">
                         <input type="text" value="" id="aclLogin" class="input-xlarge focused">
                      </div>
                   </div>  
                   <div class="control-group">
                      <label for="aclPassword" class="control-label">Password</label>
                      <div class="controls">
                         <input type="password" value="" id="aclPassword" class="input-xlarge focused">
                      </div>
                   </div>  
                   <div class="control-group">
                      <label for="aclEnablePassword" class="control-label">Enable Password</label>
                      <div class="controls">
                         <input type="password" value="" id="aclEnablePassword" class="input-xlarge focused">
                      </div>
                   </div>  
                </form>
             </div>

          </div> <!-- End tabs-container -->
			
			    <div class="form-actions">
             <form action="/settings" method="POST">
                <input type="hidden" id="tabParms" name="tabParms" value="" >
                <button id="SaveChangesBtn" class="btn btn-primary">Save Changes</button>
                <!-- button id="CancelBtn" type="reset" class="btn">Cancel</button -->
             </form>
          </div>

         </div> <!-- End box-content -->
</div> <!-- id_content -->

<script type="text/javascript">

</script>

<%= javascript_include_tag "configuration.js.coffee" %>
