<%
    #
    # Following labels are used in the left pane in a User readable form.
    # NOTE: 
    #   - ipv4list will be created when user provides a ipv4 value in the form of IP1, IP2, IP3 ... (comma separated values)
    #   - Similarly portlist is created when user provides a csv value for "port"
    #
    objLabels = {
               "deviceclass" => {"label" => "Device Class", "icon" => "icon-tags" },
               "devicetype"  => {"label" => "Device Type",  "icon" => "icon-hdd" },
               "osname"      => {"label" => "Operating System", "icon" => "icon-flag" },
               "userrole"    => {"label" => "User Role", "icon" => "icon-star" },
               "username"    => {"label" => "User", "icon" => "icon-user" },
               "location"    => {"label" => "Location", "icon" => "icon-globe" },
               "ipv4"        => {"label" => "IP Address", "icon" => "icon-tasks"  }, 
               "ipv4subnet"  => {"label" => "IP Subnet", "icon" => "icon-calendar" },
               "port"        => {"label" => "Service", "icon" => "icon-screenshot" },
               "portrange"   => {"label" => "Service Group", "icon" => "icon-certificate" }
    }

%>

  <style type="text/css">
     html, body {
        /*background: #666;*/
        width:    100%;
        height:   100%;         
        padding:  0;
        margin:   0;
        overflow: auto; /* when page gets too small */
     }

     body {
        padding-bottom: 40px;
        font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
        /*font-size: 62.5%;*/ 
     }
     .sidebar-nav {
        padding: 9px 0;
     }

     #accordion .dd-handle { 
        display: inherit; margin: 5px 0; padding: 5px 10px; color: #333; text-decoration: none; font-weight: bold; 
        border: 0px solid #ccc;
        background: transparent;
        box-sizing: inherit; -moz-box-sizing: inherit;
     }

     #accordion .dd-handle:hover { border: 1px solid #ccc; color: #C4DCFB; background: #fff; }

     #accordion .ui-accordion-content { padding: 0;}

     .placeholder-highlight  { border: 1px solid #C4DCFB; background: #C4F8FB 50% 50% repeat-x; color: #363636; }


     .dd-item { font-size: 11px; text-align: left;}

     .rule { padding-bottom: 10px; }


     #splitterContainer {
        /*background: #999;*/
        height:   95%;
        width:    90%;
        margin:   5px auto;
        padding: 0 0px;
        width:    100%;
        overflow: auto;
     }
     .pane {
        display:  none; /* will appear when layout inits */
     }

     #policyRuleHeader
     {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size: 12px;
        margin: 0px;
        text-align: center;
        border-collapse: collapse;
     }

     #policyRuleHeader th
     {
        font-size: 13px;
        font-weight: bold;
        padding: 0px;
        background: #b9c9fe;
        border-top: 4px solid #aabcfe;
        border-bottom: 1px solid #fff;
        color: #039;
     }

     #policyRuleHeader td
     {
        padding: 8px;
        background: #e8edff; 
        border-bottom: 1px solid #fff;
        color: #669;
        border-top: 1px solid transparent;
     }

     #policyRuleHeader tr:hover td
     {
        background: #d0dafd;
        color: #339;
     }  

     .rule > .dd3-content > table
     {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size: 12px;
        margin: 0px;
        width: 0px;
        text-align: center;
        border-collapse: collapse;
     }

     .rule > .dd3-content > table th
     {
        font-size: 14px;
        font-weight: normal;
        padding: 12px 15px;
        border-right: 1px solid #fff;
        border-left: 1px solid #fff;
        color: #039;
     }

     .rule > .dd3-content > table td
     {
        padding: 0px 0px;
        border-right: 1px solid #fff;
        border-left: 1px solid #fff;
        color: #669;
     }

}

  </style>

<div class="box span10" style="height:80%; width:80%; overflow:hidden;">
    <div class="box-header well">
        <h2><i class="icon-info-sign"></i> Policy Editor</h2>
        <form class="pull-right" action="/policy" method="POST">
            <fieldset>
                <!-- HACK -->
                <input type="hidden" id="new_rule" name="new_rule" value="" />
                <input type="hidden" id="policy_json" name="policy_json" value="" />
                <a class="btn btn-primary" id="newRuleBtn" 
                    title="Creates a new rule and adds it as the topmost one." data-rel="tooltip"><i class="icon-chevron-right icon-white"></i> New Rule</a>
                <a class="btn" id="saveBtn" type="submit"><i class="icon-download-alt"></i> Save</a>
            </fieldset>
        </form>
    </div>

    <div id="splitterContainer" class="box-content">
        <div id="leftPane" class="pane ui-layout-west">
            <!-- template for a new accordion list item starts -->
            <li id="itemTemplate" class="dd-item" style="display:none">
                <div class="btn-group dd-handle">
                    <button class="btn btn-small"><i class="icon-star"></i></button>
                    <button class="btn btn-small dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-edit-option"><a><i class="icon-edit"></i> Edit</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-delete-option"><a><i class="icon-remove"></i> Delete</a></li>
                    </ul>
                </div>
            </li>          
            <!-- template for a new accordion list item ends -->

            <div id="accordion">
                <% objLabels.keys.sort.each do | type | %>
                <h3 class="<%=type%>"><%= objLabels[type]["label"] %></h3>
                <div>
                    <!-- controls for creating new object values -->
                    <button class="btn btn-mini btn-primary new-object-btn"><i class="icon-plus icon-white"></i></button>
                    <input type="text" class="new-object-input-fld" style="display:none">

                    <ol class="dd-list objectList list">
                       <% if !(@fwObjects.nil? || @fwObjects.empty?) then
                              @fwObjects.keys.each do | key |
                                  if (@fwObjects[key]["type"] == type) then 
                       %>
                       <li class="dd-item" id="<%= key %>">
                           <div class="btn-group dd-handle">
                               <button class="btn btn-small"><i class="<%= objLabels[type]["icon"] %>" ></i>  <%= @fwObjects[key]["value"]  %></button>
                               <button class="btn btn-small dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                               <ul class="dropdown-menu">
                                   <li class="dropdown-edit-option"><a><i class="icon-edit"></i> Edit</a></li>
                                   <li class="divider"></li>
                                   <li class="dropdown-delete-option"><a><i class="icon-remove"></i> Delete</a></li>
                               </ul>
                           </div>
                       </li>
                       <%         end %> <!-- Objectref type matches current type -->
                       <% end %> <!-- for each Objectref -->
                       <% end %> <!-- are there any objects for this type? -->
                    </ol>
                </div>
                <% end %> <!-- for each object type -->
            </div> <!-- accordion -->
        </div> <!-- leftPane -->

        <div id="rightPane" class="pane ui-layout-center">
            <div class="dd-list rules list">
                <div class="ruleHeader">
                    <div></div>
                    <div style="padding-left: 0px; padding-top: 0px">
                        <table id="policyRuleHeader" style="width:100%">
                           <tr style="text-align: center">
                               <th style="width:35%"> Source </th>
                               <th style="width:35%"> Destination </th>
                               <th style="width:10%"> Action </th>
                               <th style="width:10%"> Logging </th>
                               <th> Delete </th>                             
                           </tr>
                        </table>
                    </div> 
                </div>

                <!-- Rules start from here -->

                <!-- rule template (hidden) used for creating new rules -->
                <div class="rule dd3-item dd-item" id="newRuleTemplate" style="display:none">
                    <div class="dd-handle dd3-handle"></div>
                    <div class="dd3-content" style="padding-left: 0px; padding-top: 0px">
                        <table style="width:100%"><tr>
                            <td style="width:35%">
                                <ol class="sources dd-list list2 list">
                                    <li class="dd-item" id="obj_ANY"><div class="dd-handle">Any</div></li>
                                </ol>                              
                            </td>
                            <td style="width:35%">
                                <ol class="destinations dd-list list2 list">
                                    <li class="dd-item" id="obj_ANY"><div class="dd-handle">Any</div></li>
                                </ol>                              
                            </td>
                            <td style="width:10%; padding-left: 5px">
                                <div class="accessToggler">
                                    <h3>ALLOW</h3>
                                    <h3 style="display:none">DENY</h3>
                                </div>                                  
                            </td>
                            <td style="width:10%; padding-left: 5px">
                                <div class="loggingToggler">
                                    <img class="icon32 icon-blue icon-check" style="display:none"></img>
                                    <img class="icon32 icon-blue icon-remove"></img>
                                </div>                                  
                            </td>
                            <td>
                                <span class="icon32 icon-color icon-trash"></span>
                            </td>                             
                        </tr></table>
                    </div>
                </div> <!-- end of ruleTemplate -->

                <div class="ruleList">
                <% @fwRules.each do | fwRule | %>
                <div class="rule dd3-item dd-item" id="<%= fwRule["id"] %>">
                    <div class="dd-handle dd3-handle"></div>
                    <div class="dd3-content" style="padding-left: 0px; padding-top: 0px">
                        <table style="width:100%"><tr>
                            <td style="width:35%">
                                <ol class="sources dd-list list2 list">
                                    <% 
                                       #
                                       # Just add "ANY", if:
                                       #      - Source list is empty OR
                                       #      - One of the sources references "ANY". In this case all other object references are discarded
                                       #

                                       bNoSources = fwRule["sources"].empty?
                                       if (!bNoSources) then
                                          fwRule["sources"].each do |src|
                                             if (src["references"].include? "obj_ANY") then
                                                bNoSources = true
                                                break
                                             end
                                          end
                                       end

                                       if (bNoSources == true) then %>
                                    <li class="dd-item" id="obj_ANY"><div class="dd-handle">Any</div></li>
                                    <% else %>
                                    <!-- Keep the default ANY, hidden if there are sources. This is made visible if all sources are deleted by the user -->
                                    <li class="dd-item" id="obj_ANY" style="display:none"><div class="dd-handle">Any</div></li>                                    
                                    <%    fwRule["sources"].each do | src |
                                             src["references"].each do | objRef |
                                                obj = @fwObjects[objRef] 
                                                type = obj["type"]
                                                value = obj["value"]
                                                value = "<b>NOT</b> " + value if (src["neg"] == "true")
                                    %>
                                    <li class="dd-item" id="<%= objRef %>">
                                        <div class="btn-group dd-handle">
                                            <button class="btn btn-small"><i class="<%= objLabels[type]["icon"] if !type.empty? %>" ></i>  <%= value  %></button>
                                            <button class="btn btn-small dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown-edit-option"><a><i class="icon-edit"></i> Negate</a></li>
                                                <li class="divider"></li>
                                                <li class="dropdown-delete-option"><a><i class="icon-remove"></i> Delete</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <%       end %> <!-- for each Objectref in a given SOURCE -->
                                    <%    end %> <!-- for each source -->
                                    <% end %> <!-- source list is not empty -->
                                </ol>                              
                            </td>
                            <td style="width:35%">
                                <ol class="destinations dd-list list2 list">
                                    <%
                                       #
                                       # Just add "ANY", if:
                                       #      - Source list is empty OR
                                       #      - One of the sources references "ANY". In this case all other object references are discarded
                                       #

                                       bNoDests = fwRule["destinations"].empty?
                                       if (!bNoDests) then
                                          fwRule["destinations"].each do |dst|
                                             if (dst["references"].include? "obj_ANY") then
                                                bNoDests = true
                                                break
                                             end
                                          end
                                       end

                                       if (bNoDests == true) then %>
                                    <li class="dd-item" id="obj_ANY"><div class="dd-handle">Any</div></li>
                                    <% else %>
                                    <!-- Keep the default ANY, hidden if there are destinations. This is made visible if all destinations are deleted by the user -->
                                    <li class="dd-item" id="obj_ANY" style="display:none"><div class="dd-handle">Any</div></li>                                    
                                    <%    fwRule["destinations"].each do | dst | 
                                             dst["references"].each do | objRef | 
                                                obj = @fwObjects[objRef]
                                                type = obj["type"]
                                                value = obj["value"]
                                                value = "<b>NOT</b> " + value if (dst["neg"] == "true")
                                    %>
                                    <li class="dd-item" id="<%= objRef %>">
                                        <div class="btn-group dd-handle">
                                            <button class="btn btn-small"><i class="<%= objLabels[type]["icon"] %>" ></i><%= value  %></button>
                                            <button class="btn btn-small dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown-edit-option"><a><i class="icon-edit"></i> Negate</a></li>
                                                <li class="divider"></li>
                                                <li class="dropdown-delete-option"><a><i class="icon-remove"></i> Delete</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <%       end %> <!-- for each Objectref in a given DESTINATION -->
                                    <%    end %> <!-- for each destination -->
                                    <% end %> <!-- destination list is not empty -->
                                </ol>                              
                            </td>
                            <td style="width:10%; padding-left: 5px">
                                <div class="accessToggler">
                                    <% if (fwRule["action"] == "allow") then %>
                                    <h3>ALLOW</h3>
                                    <h3 style="display:none">DENY</h3>
                                    <% else %>
                                    <h3 style="display:none">ALLOW</h3>
                                    <h3>DENY</h3>
                                    <% end %>
                                </div>                                  
                            </td>
                            <td style="width:10%; padding-left: 5px">
                                <div class="loggingToggler">
                                    <% if (fwRule["log"] == "true") then %>
                                    <img class="icon32 icon-blue icon-check" ></img>
                                    <img class="icon32 icon-blue icon-remove" style="display:none"></img>
                                    <% else %>
                                    <img class="icon32 icon-blue icon-check" style="display:none"></img>
                                    <img class="icon32 icon-blue icon-remove"></img>
                                    <% end %>
                                </div>                                  
                            </td>
                            <td>
                                <span class="icon32 icon-color icon-trash" onclick="removePolicyRule(1)"></span>
                            </td>                             
                        </tr></table>
                    </div>
                </div> <!-- end of rule -->
                <% end %> <!-- for each rule in the policy file -->

            </div> <!-- ruleList -->

            </div> <!-- rules -->
        </div> <!-- rightPane -->
    </div> <!-- SplitterContainer -->
</div> <!-- main box -->


  <script type="text/javascript">

  //Decide when to save the document
  var bDirty = false;

  $(document).ready(function () {

    //notifications
     $('#splitterContainer').layout();
     $('#accordion').accordion({icons: null});
     $('#accordion').accordion( "option", "autoHeight", false );

     $('.objectList').sortable({
        connectWith: '.list2',
        tolerance: 'pointer',
        placeholder: 'placeholder-highlight',
        appendTo: 'body',
        helper: 'clone',
        start: function(event, ui) {
            ui.placeholder.height(ui.item.height());
        }
     }).disableSelection();
  

     $('.list').disableSelection();

     //Left Pane - ObjectList  
     $('.objectList').bind('sortstop', function(event, ui) {
        var idx = $('.list2').children().index($(ui.item[0]))-1;
        var elm = $(ui.item[0]).clone(true),
            list = $('.list2').children(':eq('+idx+')');

        /*
         * When a object is dragged from the list and dropped on Source/Dest target, then make it uneditable and also 
         * add a new menu option to select the "NOT X" of the object "X".
         */
        var editOptText = elm.find('.dropdown-edit-option > a').html().replace("Edit", "Negate");
        
        elm.find('.dropdown-edit-option > a').html(editOptText);
        if ((list.closest('ol').children(':hidden').length) == 0) {
            /*
             * "ANY" value for source/destination will be automatically hidden as soon as some object is dropped on that list.
             */
            list.closest('ol').children().each(function(i) {
                if ($(this).text() == 'Any') {
                    $(this).hide();
                }
            });
        }

        list.after(elm);
        $(this).sortable('cancel');

        bDirty = true;
     });

     //Adding new objects
     /* 
      * Unhide the edit field to let the user enter the text for the new object being created.
      */
     $('#accordion .new-object-btn').live('click', function() {
        $('.list').enableSelection();
        $('#accordion .new-object-input-fld').show().focus();
     });

     $('#accordion .new-object-input-fld').live('blur', function(event) {
        $('.new-object-input-fld').hide();
     });

     $('#accordion .new-object-input-fld').live('keyup', function(event) {
        if (event.which == 13) {
           var newItem = $('#itemTemplate').clone(true);
           newItem.attr('id', 'obj_' + Date.now()); //Set a unique id for the new object
           $('.btn:first', newItem).append(" " + $(this).val());

           //Clear the edit field and hide it
           $(this).val('').hide();

           $(this).parent().find('ol').append(newItem);
           newItem.show();
           $('.list').disableSelection();

           bDirty = true;
        }
     });


     //EDITing existing objects
     var oldObject = { text: ""},
         editMode="";

     //When EDIT menu option is clicked, replace the object with an Edit field, filled in with existing value.
     $('#accordion .objectList .dd-item .dropdown-edit-option').live('click', oldObject, function() {
        var item = $(this).parent().parent();
        var parent = item.parent();
        var value = $('.btn:first', item).text();
        var width = $('.btn:first', item).width();
        $('.list').enableSelection();
        item.replaceWith('<input id="valueEditor" value='+value+' class="dd-handle" type="text">').width(width);
        oldObject.text = value;
        editMode = "old";
        $('#valueEditor').focus();
     });

     /* Save the edited value by adding a new object. This new object also deletes the Edit field, which was
      * transient to let the user modify the object's value.
      */
     $('#valueEditor').live('keyup', oldObject, function(event) {
        if (event.which == 13) {
           var newItem = $('#itemTemplate').clone(true);
           $('.btn:first', newItem).append(" " + $(this).val());
           oldObject.text = $(this).val();
           $(this).replaceWith(newItem);
           newItem.show();
           $('.list').disableSelection();

           editMode = "";
           bDirty = true;
        }
     });

     /* In case the user clicks anywhere on the screen after entering the edit mode (without hitting the ENTER key), then discard the 
      * the changes and bring back the old object in full glory.
      */
     $('#valueEditor').live('blur', oldObject, function(event) {
        var item = $(this).parent();
        var newItem = $('#itemTemplate').clone(true);
        $('.btn:first', newItem).append(" " + oldObject.text);
        $(this).val('').hide();
        item.replaceWith(newItem);
        newItem.show();

        editMode = "";

        $('.list').disableSelection();  
     });

     $(document).bind('mousedown', function(event) {
        var id = event.target.getAttribute('id') || "NONE";
        if (editMode != "") {
           if ((editMode == "old") && (id != "valueEditor")) {
              $('#valueEditor').blur();
           }
        }
     });

     //Delete the selected object
     $('#accordion .objectList .dd-item .dropdown-delete-option').live('click', function() {
        var $deleteObj = $(this).closest('.dd-item');

        //Remove the object references in source/destination of the policy rules
        $('.ruleList .rule').each(function() {
            $('.sources.list li.dd-item[:visible]', this).each(function() {
                 if ($(this).attr('id') == $deleteObj.attr('id')) {
                     $('.dropdown-delete-option', this).click();
                 }
            });

            $('.destinations.list li.dd-item[:visible]', this).each(function() {
                 if ($(this).attr('id') == $deleteObj.attr('id')) {
                     $('.dropdown-delete-option', this).click();
                 }
            });

        });

        $deleteObj.remove();

        bDirty = true;

     });


     //Policy Rules (right side pane)
     //$('.rules' ).sortable({ items: '> div:not(.ruleHeader)'}).disableSelection();
     $('.ruleList' ).sortable().disableSelection();
     $( ".rule .list2" ).sortable({ containment: 'parent'}).disableSelection(); //Prevent drag-n-drop from one rule to another

     $('#newRuleBtn').click(function() {
/*        var newRule = $('#newRuleTemplate').clone(true);
        newRule.attr('id', 'Rule_' + Date.now());

        //Insert the new rule as the first one, just after the HEADER row
        $('.ruleList').prepend(newRule);

        newRule.show();*/

        //HACK!!!!!
        $('#new_rule').val('y');
        bDirty = true;
        $('form a[type=submit]').click();

     });

     //Handler for the "Negate" menu option, for each source/destination object
     $('.rule .dropdown-edit-option').live('click', function() {
        var item = $(this).closest('.btn-group');
        var html = $('.btn:first', item).html();
        var text = $('.btn:first', item).text();

        if (text.indexOf("NOT ") >= 0) {
            $('.btn:first > b', item).remove();
        } else {
            $('.btn:first', item).html(html.replace(text, ' <b>NOT</b> ' + text));
        }

        bDirty = true;

     });

     //Handler for "Delete" menu option, for each source/destination object
     $('.rule .dropdown-delete-option').live('click', function() {
        var $objlist = $(this).closest('.list2');

        $(this).closest('.dd-item').remove();

        //
        // activate the default "Any" if there are no sources/destinations anymore...
        //
        if ($('li.dd-item:visible', $objlist).length == 0) {
            $('li.dd-item', $objlist).show();
        }

        bDirty = true;

     }); //Delete object handler

     $('.accessToggler').live('click', function() {
        $(this).find('h3').toggle();
        bDirty = true;
     });

     $('.loggingToggler').live('click', function() {
        $(this).find('img').toggle();
        bDirty = true;
     });

     $('.rule .icon-trash').live('click', function() {

        var $deleteRule = $(this).closest('.rule');
        <%= @fwRules.delete('$deleteRule.attr("id")') %>
        $deleteRule.remove();

        /*
         * There should be at least one rule in the policy. 
         * if after deletion, there is none then add the default rule
         */
        if ($('.ruleList .rule').length == 0) {
            $('#newRuleBtn').click();
        }

        bDirty = true;
     });

     /*
      * Parse the HTML page and create the policy JSON
      */

     function getObjectsInRule(list) {
        return $('li.dd-item:visible', list).map(function(k, v) {
           var objRef = $(this).attr("id");
           var value = $('button:first', this).text().trim() || "";
           
           return { ref: objRef, negation: ((value.indexOf("NOT ") !== -1) ? "true" : "false") }

        }).get();
     }

     $('form a[type=submit]').click( function() {

        //
        // Save only if the user has changed something
        //
        if (bDirty == false) {
           return;
        } else {
           bDirty = false; //reset
        }

        /*
         * Save the modified policy...
         */

        var objectsArray = new Array();

        //
        // Default object - ANY
        //
        objectsArray.push({id: 'obj_ANY', type: '', value: 'ANY'});

        $('#accordion h3').each(function() {
           var objType = $(this).attr('class').split(" ").shift();
           var $div = $(this).next();

           $('.dd-item', $div).each(function() {
               var valueText = $('button:first', this).text().trim() || "";
               if ((objType == "ipv4") && (valueText.indexOf(",") > 0)) {
                   valueText = valueText.replace(/,/g, " or ");
                   objType = "ipv4list";
               } else if ((objType == "portrange") && (valueText.indexOf(",") > 0)) {
                   objType = "portlist"
               }

               var obj = {
                           id: $(this).attr('id').trim(),
                           type: objType,
                           value: valueText
               };

               objectsArray.push(obj);
           });
        });

        var policy_rules = $('.ruleList .rule').map(function(key, value) {
           return {
                    position: ++key,
                    id: $(this).attr('id').trim(),
                    sources: getObjectsInRule($('.sources.list', this)),
                    destinations: getObjectsInRule($('.destinations.list', this)),
                    action: $('.accessToggler h3:visible', this).html(),
                    log:  ($('.loggingToggler img:visible', this).attr('class').indexOf('icon-check') !== -1) ? "true" : "false"
                 }
        }).get();

        var policy = {objects: objectsArray, rules: policy_rules};
        $('#policy_json').val(JSON.stringify(policy));;
        $(this).closest('form').submit();
     });



  }); /* document.ready() */

  </script>
