<%
   if params['reportType'] == "byodIP" then
      serverListTitle = "Clients"
      clientListTitle = @availableBandwidthReportTypes[params[:reportType]]
   else
      serverListTitle = @availableBandwidthReportTypes[params[:reportType]] || "Servers"
      clientListTitle = "Clients"
   end
%>
<!-- content starts -->
<style>
td.right {
  text-align: right;
}
</style>
<div id="content" class="span10">

        <div class="control-group">
    			  <select id="reportType" class="chosen">
                <% @availableBandwidthReportTypes.keys.sort.reverse.each do |key| %>
    				    <option value="<%= key %>"><%= @availableBandwidthReportTypes[key] %></option>
                <% end %>
    			  </select>
    			  <select id="reportTime" class="chosen">
               <% @availableTimeLines.each do |key, value| %>
    				   <option value="<%= key %>"><%= value %></option>
               <% end %>
    			  </select>
          
            <button class="btn btn-primary" id="refreshBtn">Refresh</button>

        </div>
        <div class="control-group" id="dateRange">
    			  <input   class="datepicker" id="fromDate" value="From" type="text" >
    			  <input   class="datepicker" id="toDate" value="To" type="text">
        </div>

   <div class="row-fluid sortable">		
      <div class="box span12" id="graphBox">
         <%= render :partial => 'layouts/title_bar_icons',
                    :locals => { :header_title => "Resource Consumption",
                                 :header_link  => "#" }
         %>
         <div class="box-content" style="overflow:visible">
            <canvas id="bw_graph_canvas" style="float: left" height="350" width="1000">[No canvas support]</canvas>
         </div>
      </div> <!-- box span12 -->
   </div><!-- row-fluid sortable -->

   <div class="row-fluid sorttable">
      <div class="box span6" id="serverList">
         <%= render :partial => 'layouts/title_bar_icons',
                    :locals => { :header_title =>  serverListTitle,
                                 :header_link  => "#" }
         %>
         <div class="box-content">
            <table id="serverListTable" class="display">
            <thead>  
              <tr>
                <th>Server</th>
                <th><%= "Download #{bandwidth_label} " %></th>
                <th><%= "Upload #{bandwidth_label} " %></th>
                <th><%= "Total    #{bandwidth_label} " %></th>
              </tr>
            </thead>
            <tbody>
            </tbody>
            </table>
         </div> <!-- box-content -->
      </div> <!-- box span6 -->

      <div class="box span6" id="clientList">
         <%= render :partial => 'layouts/title_bar_icons',
                    :locals => { :header_title => clientListTitle,
                                 :header_link  => "#" }
         %>
         <div class="box-content">
            <table id="clientListTable" class="display">
            <thead>  
              <tr>
                <th>Device</th>
                <th><%= "Download #{bandwidth_label} " %></th>
                <th><%= "Upload #{bandwidth_label} " %></th>
                <th><%= "Total    #{bandwidth_label} " %></th>
              </tr>
            </thead>
            <tbody>
            </tbody>
            </table>
         </div> <!-- box-content -->
      </div> <!-- box span6 -->
   </div><!-- row-fluid sortable -->
</div><!-- content ends -->

<script type="text/javascript">

   $(document).ready(function(){

       $("#reportType").val("<%= params['reportType'] || 'total' %>");
       $("#reportTime").val("<%= params['reportTime'] || 'today' %>");

       $("#reportTime").chosen().change(function() {
           if (this.value == "date_range") {
               $("#dateRange").show();
           } else {
               $("#dateRange").hide();
           }
       });

       <% if params['reportTime'] != "date_range" then %>
          $("#dateRange").hide();
       <% else %>
          $("#dateRange").show();
          fromDate = "<%= params['fromDate'] || Date.today.to_s %>";
          $("#fromDate").val(fromDate);
          toDate = "<%= params['toDate'] || Date.today.to_s %>"
          $("#toDate").val(toDate);
       <% end %>

       $('#refreshBtn').click(function() {
            var type = $('#reportType').val();
            var time = $('#reportTime').val();

            var urlString = "/dash_bw?reportType="+ type + "&reportTime=" + time;
            if (time == "date_range") {
               numDays = dateDiffInDays(new Date(fromDate), new Date(toDate));

               //For now, handle date ranges less than a year
               if (numDays > 364) {
                  alert("Date ranges beyond a year are not supported.")
                  return;
               }
               urlString += "&fromDate=" + fromDate + "&toDate=" + toDate;
            }
            window.location.href= urlString;
       });

       /*
        * BYOD Servers is a quirky case (unlike others) where the BYODs act as servers and other devices on the network are connecting to them via
        * SSH or other advertised ports. In all other cases, BYODs are always clients in the TCP/IP connection except here they are the Servers.
        * Instead of doing code changes all over the place, just swapping the two tables based the switched role of the BYODs to make the page
        * consistent of having the left-side table as servers and right-side table as clients, always.
        */
       <% if params['reportType'] == 'byodIP' then %>
             jQuery("#serverList").insertAfter(jQuery('#clientList'));
       <% end %>

       $(".chosen").chosen();
       $('.chzn-search').hide(); //Hide the search box within the dropdown

   }); //document.ready()

</script>

<%= javascript_include_tag "dash_bw.js.coffee" %>

