<div id="content" class="span10">
<!-- content starts -->
         
   <div class="row-fluid sortable">    
      <div class="box span12">
         <%= render :partial => 'layouts/title_bar_icons',
                    :locals => { :header_title => "Device Details",
                                 :header_link  => "#" }
         %>

         <div class="box-content">
            <h3>DEVICE: &nbsp;&nbsp;&nbsp; &nbsp; <%= params[:device] + (" [ #{@devicedetails.devicename} ]" || '')%></h3>
            <br>
            <div class="span4">
                <table class="table table-bordered table-striped">
                    <tr><td colspan="2"><h4>Attributes</h4></td></tr>
                    <tr><td><h6>IP:</h6></td>
                        <td><span class="btn btn-medium"><%= @devicedetails.ipaddr if !@devicedetails.nil? %></span></td></tr>
                    <tr><td><h6>Used by:</h6></td>
                        <td><span class="btn btn-medium">
                              <%= if (!@devicedetails.nil?) then
                                     if !(@devicedetails.groupname.nil? || @devicedetails.groupname.empty?) then 
                                        @devicedetails.groupname + "\\" + @devicedetails.username 
                                     else 
                                        @devicedetails.username
                                     end
                                  end
                              %>
                        </span></td></tr>
                     <tr><td><h6>Type:</h6></td>
                         <td><span class="btn btn-medium"><%= @devicedetails.devicetype if !@devicedetails.nil? %></span></td></tr>
                     <tr><td><h6>Operating System:</h6></td>
                         <td><span class="btn btn-medium"><%= if !@devicedetails.nil? then  "#{@devicedetails.operatingsystem} #{@devicedetails.osversion}" end  %>
                         </span></td></tr>
                     <tr>
                        <td><h6>Jailbroken:</h6></td>
                        <td><% 
                               jailbroke = if !@devicedetails.nil? && ((@devicedetails.weight & 0x00FF0000) > 0) then 1 else 0 end
                               if (jailbroke > 0) then
                                  btnClass = "btn btn-medium btn-danger"
                               else
                                  btnClass = "btn btn-medium"
                               end
                            %>
                            <a href="#" class="<%= btnClass %>" ><%= if (jailbroke > 0) then "Yes" else "No" end %></a></td></tr>                     
                     <tr><td><h6>Device Vulnerability Index (DVI): </h6></td>
                         <td><% dvi = if (!@devicedetails.nil? && !@devicedetails.dvi.nil?) then  (@devicedetails.dvi.to_f * 10) else -1 end
                               btnClass = "btn btn-medium"
                               if    dvi.between?(0, 3)   then  btnClass += "" 
                               elsif dvi.between?(4, 5)   then  btnClass += " btn-success "
                               elsif dvi.between?(6, 9)   then  btnClass += " btn-warning "
                               elsif dvi == 10            then  btnClass += " btn-danger "
                               end
                            %>
                            <a href="#" class="<%= btnClass %>" data-rel="popover" data-content="0: Not vulnerable ---- 1: Highly Vulnerable" title="DVI"><%= @devicedetails.dvi if !@devicedetails.nil? %></a></td></tr>
                     <tr><td><h6>Device Threat Index (DTI): </h6></td>      
                         <td><% dti = if (!@devicedetails.nil? && !@devicedetails.dti.nil?) then  (@devicedetails.dti.to_f * 10) else -1 end
                               btnClass = "btn btn-medium"
                               if    dti.between?(0, 3)   then  btnClass += "" 
                               elsif dti.between?(4, 5)   then  btnClass += " btn-success "
                               elsif dti.between?(6, 9)   then  btnClass += " btn-warning "
                               elsif dti == 10            then  btnClass += " btn-danger "
                               end
                            %>
                            <a href="#" class="<%= btnClass %>" data-rel="popover" data-content="0: No Threat---- 1: Highly Malicious" title="DTI"><%= @devicedetails.dti if !@devicedetails.nil? %></a></td></tr>                     
                </table>
            </div>
      
            <div class="span4">
               <table class="table table-bordered table-striped">
                  <tr><td><h4>Applications</h4></td></tr>
                  <tr><td><table id="deviceApps" class="display" data-source="/device_details/apps.json">
                      <thead>
                        <tr>
                           <th>Name</th>
                           <th>Version</th>
                        </tr>
                      </thead>   
                      <tbody>
                      </tbody>
                     </table></td></tr>
               </table>
            </div>
         </div> <!-- box-content -->
      </div> <!-- box -->
   </div>

   <div class="row-fluid sortable">
      <div class="box span12">
         <%= render :partial => 'layouts/title_bar_icons',
                    :locals => { :header_title => "Peregrine Alerts",
                                 :header_link  => "#" }
         %>

         <div class="box-content span10">
                <table id="i7Alerts" class="display" data-source="/device_details/i7alerts.json">
                   <thead>
                      <tr>
                         <th>ID</th>
                         <th>Priority</th>
                         <th>Type</th>
                         <th>Message</th>
                         <th>Count</th>
                      </tr>
                   </thead>  
                   <tbody>
                   </tbody>
                </table>
         </div> <!-- alerts table -->
      </div> <!-- box -->
   </div> <!-- row-fluid -->

   <div class="row-fluid sortable">
      <div class="box span12">
         <%= render :partial => 'layouts/title_bar_icons',
                    :locals => { :header_title => "Intrusion Alerts",
                                 :header_link  => "#" }
         %>

         <div class="box-content span10">
                <table id="snortAlerts" class="display" data-source="/device_details/snortalerts.json">
                   <thead>
                      <tr>
                         <th>ID</th>
                         <th>Priority</th>
                         <th>Message</th>
                         <th>Count</th>
                      </tr>
                   </thead>  
                   <tbody>
                   </tbody>
                </table>
         </div> <!-- snort alerts table -->
      </div> <!-- box -->
   </div> <!-- row-fluid -->

   <div class="row-fluid sortable">
      <div class="box span12">
         <%= render :partial => 'layouts/title_bar_icons',
                    :locals => { :header_title => "Vulnerabilities",
                                 :header_link  => "#" }
         %>

         <div class="box-content span10">
                <table id="deviceVulns" class="display" data-source="/device_details/vulnerabilities.json">
                   <thead>
                      <tr>
                         <th>ID</th>
                         <th>Score</th>
                         <th>Message</th>
                         <th>Count</th>
                      </tr>
                   </thead>  
                   <tbody>
                   </tbody>
                </table>
         </div> <!-- vulnerabilities table -->
      </div> <!-- box -->
   </div> <!-- row-fluid -->

   <div class="row-fluid sortable">
      <div class="box span12">
         <%= render :partial => 'layouts/title_bar_icons',
                    :locals => { :header_title => "External Servers Accessed (past 3 months)",
                                 :header_link  => "#" }
         %>

         <div class="box-content span10">
                <table id="deviceBwUsage" class="display" data-source="/device_details/bandwidth.json">
                   <thead>
                      <tr>
                         <th>Server</th>
                         <th>Port</th>
                         <th>Upload</th>
                         <th>Download</th>
                         <th>Total</th>
                      </tr>
                   </thead>  
                   <tbody>
                   </tbody>
                </table>
         </div> <!-- vulnerabilities table -->
      </div> <!-- box -->
   </div> <!-- row-fluid -->

</div><!-- end of content -->

<%= javascript_include_tag "device_details.js.coffee" %>
