<div id="content" class="span10">
<!-- content starts -->
			
   <div class="row-fluid sortable">		
      <div class="box span12">
         <%= render :partial => 'layouts/title_bar_icons',
                    :locals => { :header_title => "Device Inventory",
                                 :header_link  => "#" }
         %>
         <div class="box-content">
            <table id="dataTable" class="table table-striped table-bordered bootstrap-datatable">
               <thead>
	          <tr>
	             <th>Username</th>
		          <th>IP Address</th>
                <th>MAC ID</th>
                <th>Device Class</th>
                <th>Device Type </th>
		          <th>Operating System</th>
	   	       <th>DVI</th>
                <th>First Seen</th>
                <th>Last Seen</th>
	          </tr>
	       </thead>   
         <tfoot>
                                <tr>
                            <th rowspan="1" colspan="1"></th>
                            <th rowspan="1" colspan="1"></th>
                            <th rowspan="1" colspan="1"></th>
                            <th rowspan="1" colspan="1"></th>
                            <th rowspan="1" colspan="1"></th>
                            <th rowspan="1" colspan="1"></th>
                            <th rowspan="1" colspan="1"></th>
                            <th rowspan="1" colspan="1"></th>
                            <th rowspan="1" colspan="1"></th>
          </tr>
         </tfoot>
	       <tbody>
                  <% @deviceinfos.each do |deviceinfo| %>
                     <tr>
                        <td><%= deviceinfo.username %></td>
                        <td><%= deviceinfo.ipaddr %></td>
                        <td><%= link_to deviceinfo.macid, :action=> "device_details", :device => deviceinfo.macid %></td>
                        <td><%= deviceinfo.deviceclass %></td>
                        <td><%= deviceinfo.devicetype %></td>
                        <td><%= deviceinfo.operatingsystem %></td>
                        <td><%= deviceinfo.DVI %></td>
                        <td><%= deviceinfo.created_at %></td>
                        <td><%= deviceinfo.updated_at %></td>
                     </tr>
                  <% end %>
               </tbody>
            </table>

         </div> <!-- box-content -->
      </div> <!-- box span12 -->
   </div><!-- row-fluid sortable -->
</div><!-- content ends -->

<script type="text/javascript">
//datatable
$(document).ready(function() {
  var oTable = $('#dataTable').dataTable({
      "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span12'i><'span12 center'p>>",
      "bJQueryUI": true,
      "sPaginationType": "bootstrap",
      "oLanguage": {
      "sSearch": "Search all columns: ",
      "sLengthMenu": "_MENU_ records per page"
      }
    } );

/* Add a select menu for each TH element in the table footer */
  $("tfoot th").each( function ( i ) {
    if (i == 2) {
      this.innerHTML = fnCreateSelect( oTable.fnGetColumnData(i, true) );
    } else {
      this.innerHTML = fnCreateSelect( oTable.fnGetColumnData(i) );
    }
    $('select', this).change( function () {
      oTable.fnFilter( $(this).val(), i );
    } );
  } );

});
</script>