<div id="content" class="span10">
<!-- content starts -->
   <div class="control-group">
            <select id="reportTime" class="chosen">
               <% @availableTimeLines.each do |key, value| %>
               <option value="<%= key %>"><%= value %></option>
               <% end %>
            </select>
          
            <button class="btn btn-primary" id="refreshBtn">Refresh</button>
   </div>
   <div class="control-group" id="dateRange">
            <input   class="datepicker" id="fromDate" value="From" type="text" >
            <input   class="datepicker" id="toDate" value="To" type="text">
   </div>

			
   <div class="row-fluid sortable">		
      <div class="box span12">
         <%= render :partial => 'layouts/title_bar_icons',
                    :locals => { :header_title => "Snort Alerts",
                                 :header_link  => "#" }
         %>
         <div class="box-content">
            <table id="snortAlerts" class="display" data-source="/tbl_snort.json?reportTime=past_month">
               <thead>
	               <tr><th>Snort ID</th>
                     <th>Time    </th>
                     <th>Message </th>
		                 <th>Priority</th>
                     <th>Protocol</th>
                     <th>Source</th>
		                 <th>Destination</th>
	   	               <th>MAC (src) </th>
                     <th>MAC (dst) </th>
	              </tr>
	             </thead>  
      	       <tbody>
               </tbody>
            </table>

         </div> <!-- box-content -->
      </div> <!-- box span12 -->
   </div><!-- row-fluid sortable -->
</div><!-- content ends -->

<script type="text/javascript">
$(document).ready(function() {
       // Set approriate values (derived from query string) in the dropdown selections
       $("#reportTime").val("<%= params['reportTime'] || 'today' %>");

       $("#reportTime").chosen().change(function() {
           if (this.value == "date_range") {
               $("#dateRange").show();
           } else {
               $("#dateRange").hide();
           }
       });

       <% if params['reportTime'] != "date_range" then %>
          $("#dateRange").hide();
       <% else %>
          $("#dateRange").show();
          fromDate = "<%= params['fromDate'] || Date.today.to_s %>";
          $("#fromDate").val(fromDate);
          toDate = "<%= params['toDate'] || Date.today.to_s %>"
          $("#toDate").val(toDate);
       <% end %>  
  
       $('#refreshBtn').click(function() {
            var time = $('#reportTime').val();

            var urlString = "/tbl_snort?reportTime=" + time;
            if (time == "date_range") {
               numDays = dateDiffInDays(new Date(fromDate), new Date(toDate));

               //For now, handle date ranges less than a year
               if (numDays > 364) {
                  alert("Date ranges beyond a year are not supported.")
                  return;
               }
               urlString += "&fromDate=" + fromDate + "&toDate=" + toDate;
            }

            window.location.href= urlString;
       });

       $(".chosen").chosen();
       $('.chzn-search').hide(); //Hide the search box within the dropdown

});
</script>

<%= javascript_include_tag "snort_alerts.js.coffee" %>
