<div class='CSSTableGenerator'>
   <table>
      <tr><td colspan=2> <%= device.username %> </td></tr>
      <tr><td>Device</td><td><%= device.devicetype %></td></tr>
      <tr><td>Operating System</td><td><%= "#{device.operatingsystem} #{device.osversion}" %></td></tr>
      <tr><td>DVI </td><td><%= device.dvi %></td></tr>
      <tr><td>DTI </td><td><%= device.dti %></td></tr>
   </table>
</div>
